body{
    background-image: url(bgimage.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    
    margin: 0;
    display: flex;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    
}

.header {
    background-color: #19a120;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.card {
    background-color: rgb(236, 243, 240);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    opacity: 0.8;
}



.legend {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.slice1 { background-color: #3498db; }
        .slice2 { background-color: #e74c3c; }
        .slice3 { background-color: #f1c40f; }
        .slice4 { background-color: #2ecc71; }

ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            width: 100%;
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 10px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color: #111;
          }
          canvas {
            max-width: 700px;
            margin: 0 auto;
        }
        input[type="text"] {
          margin-bottom: 10px;
          width: 500px; 
          height: 30px; 
          padding: 10px;
          font-size: 16px; /* Adjust font size */
          border-radius: 5px; /* Optional: Add rounded corners */
          border: 1px solid #ecaaaa; 
      }