
body {
    background-image:url(bg2.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    opacity: 0.8;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}
input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
h2 {
    text-align: center;
    color: #333;
}
.message {
    text-align: center;
    color: green;
    font-weight: bold;
}
